extends layout
block header
  h1= header
block content

  form(name='addEvent', id='formAddEvent', action='/insertEvent/addEvent',method='post')
    input(type='text', name='eventName', id='inputEvent', placeholder="Nom de l'événement")
    input(type='text', name='eventDate', id='inputDateEvent', placeholder="Date de l'événement")
    select(name='eventRegion')
      option(disabled selected) Département concerné
      each region,i in regionlist
        option(value=region.dep)= region.num+" - "+region.dep+" ("+region.regionAdmin+") "
    input(type="text", name="eventCity", id="inputEventCity", placeholder="Ville de l'événement")
    select(name="eventType")
      option(disabled selected) Type d'événement
      option(value='1') Film
      option(value='2') Série
      option(value='3') Spectacle
    input(type="reset", value="Effacer")
    input(type="submit", value="Enregistrer")
    
    script.
      $( "#inputDateEvent" ).datepicker({
        dateFormat: "dd-mm-yy",
        altFormat: "yy-mm-dd",
        dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
        firstDay: 1,
        monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" ],
        monthNamesShort: [ "Janv", "Févr", "Mars", "Avr", "Mai", "Juin", "Juill", "Août", "Sept", "Oct", "Nov", "Déc" ],
        showButtonPanel: true,
        currentText: "Ce jour",
        closeText: "Fermé",
        showWeek: true,
        weekHeader: "Sem",
        altField: "#actualDate"
      });
    