extends layout
block header
  h1= header
block content

  form(name='addEventType', id='formAddEventType', action='/insertEventType/addEventType', method='post')
    h2 Ajout d'un type d'événement
    input(type="text", name='eventTypeName', id='inputEventTypeName', placeholder="Nouveau type d'événement")
    br
    input(type="reset", value="Effacer")
    input(type="submit", value="Enregistrer")
  br
  h2 Les types d'événements
  table
    thead
      tr
        td ID type d'événement
        td Type
    tbody
      each eventT in eventtypelist
        tr
          td= eventT._id
          td= eventT.type
          td
            button(onclick="deleteEventType('"+eventT._id+"')") Delete