extends layout
block header
  h1= header
block content

  form(name='addEvent', id='formAddEvent', action='/insertEvent/addEvent',method='post')
    h2 Ajout d'un évènement
    input(type='text', name='eventName', id='inputEventName', placeholder="Nom de l'évènement")
    br
    input(type='text', name='eventDate', id='inputEventDate', placeholder="Date de l'évènement")
    br
    input(type='text', name='eventNbDays', id='inputEventNbDays', placeholder="Nombre de jours")
    br
    select(name='eventRegion')
      option(disabled selected) Département concerné
      each region,i in regionlist
        option(value=region.dep)= region.num+" - "+region.dep+" ("+region.regionAdmin+") "
    br
    input(type="text", name="eventCity", id="inputEventCity", placeholder="Ville de l'évènement")
    br
    select(name="eventType")
      option(disabled selected) Type d'évènement
      each eventT in eventtypelist
        option(value=eventT._id)= eventT.type
    br
    input(type='text', name='eventRole', id='inputEventRole', placeholder="Rôle lié à l'évènement")
    br
    select(name="eventRoleType")
      option(disabled selected) Type du rôle
      each roleType in roletypelist
        option(value=roleType._id)= roleType.type
    br
    input(type="reset", value="Effacer")
    input(type="submit", value="Enregistrer")
    br


    script.
      $( "#inputEventDate" ).datepicker({
        dateFormat: "dd-mm-yy",
        altFormat: "yy-mm-dd",
        dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
        firstDay: 1,
        monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" ],
        monthNamesShort: [ "Janv", "Févr", "Mars", "Avr", "Mai", "Juin", "Juill", "Août", "Sept", "Oct", "Nov", "Déc" ],
        showButtonPanel: true,
        currentText: "Ce jour",
        closeText: "Fermé",
        showWeek: true,
        weekHeader: "Sem",
        altField: "#actualDate"
      });
    