doctype html
html
  head
    title #{titlePage}
        
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet' href='template/assets/css/main.css')

    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.12.4.js")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js") 
    
  body
    div(id='wrapper')
      div(id='main')
        div(class='inner')
          header(id='header')
            div(class='logo')
              strong
                block header 
          br        
          block content
          
      div(id='sidebar')
        div(class='inner')
          nav(id='menu')
            header(class='major')
              h2 Menu
            ul
              li
                a(href='/') Accueil
              li
                a(href='/events') Liste des évènements
              li
                a(href='/insertEvent') Insertion d'un évènement
              li
                a(href='/insertEventType') Insertion d'un type d'évènement
              li
                a(href='/insertRoleType') Insertion d'un type de rôle

          footer(id='footer')
            p(class='copyright') FaceCast &copy; 2017 - Tout droits réservés
    
    script(src="template/assets/js/jquery.min.js")
    script(src="template/assets/js/skel.min.js")
    script(src="template/assets/js/util.js")
    script(src="template/assets/js/main.js")
    script(src="javascripts/crud.js")