extends layout
block header
  h1= header
block content
  
  form(name='updateEvent', id='formUpdateEvent', action='/updateEvent/updateEventRole', method='post')
    h2 Mise à jour d'un événement et du rôle associé
    p= idTest
    input(type='text', name='eventName', id='inputEventName', value=idTest, placeholder="Nom de l'événement")
    